body{
    background-color: lightgray;
    text-align: center;
}


div#startPage{
    background-image: url("http://thepersonalfreedomproject.com/wp-content/uploads/2013/06/positive-thinking-books.jpg");
    background-repeat: no-repeat;
    width: 1000px;
    height: 533px;
   
    border: 25px solid black;
    padding: 25px;
    margin: 25px;
}

#titulo{
    color: black;
    font-size:30px;
    align-content: center;
    font-family:Arial;
    font-style: italic bold 50px; 
}

#paragrafo{
    text-align: justify;
    margin-left: 35%;
    margin-right: 35%
}

.book{
    display: none;
}

#picture{
    width: 300px;
    margin-top: 100px;  
    box-shadow: 10px 10px 5px #888888;
}
 
.active{
    display:block;
    text-align: center;
}

#endPage{
    display: none;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    margin: auto;
    margin-top: auto;  
}

table#books{
    text-align: center;
    align-content: center;
    margin: auto;
}
